@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&family=Poppins:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom style */
.ff-ctm-accent {
  font-family: "Bakbak One", sans-serif;
}

.img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* set a default style */
* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  line-height: 1.5rem;
}

button,
.btn {
  font-weight: bold;
}

/* override slick slider style */
.slick-dots li button::before {
  font-size: 10px !important;
}

.slick-dots li.slick-active button::before {
  color: #fdca40 !important;
}
